requests
influxdb-client
numpy
polars
influxdb-client[ciso]
influxdb-client[async]
influxdb-client[extras]
asyncio
lightweight-charts  # optional, defauly yes. Allows visualization directly from Python